{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }} - Zezepedia
{% endblock %}

{% block body %}
    {{ content | safe }}

    <a href="{% url 'encyclopedia:edit_page' title=title %}" class="back"><button class="back-btn">Edit</button></a>
    <a href="{% url 'encyclopedia:delete_page' title=title %}" class="back"><button class="back-btn">Delete</button></a>
    <a href="{% url 'encyclopedia:index' %}" class="back"><button class="back-btn">Home</button></a>
{% endblock %}