{% extends "encyclopedia/layout.html" %}

{% block title %}
Serch - Zezepedia
{% endblock %}

{% block body %}
    <h1 class="all-pages-heading">Search</h1>
    {% if found %}
        <p>You have entered <b>'{{ search_item }}'</b>. Did you mean:</p>
        <ul>
            {% for entry in entries %}
            <li><a class="list-page" href="/wiki/{{entry}}">{{ entry }}</a></li>
            {% endfor %}
        </ul>
    
    {% else %}
        <p>You have entered <b>'{{ search_item }}'</b>. No results found.</p>
    {% endif %}
    
    <a href="{% url 'encyclopedia:index' %}" class="back"><button class="back-btn">Home</button></a>


{% endblock %}